{% extends "base.html" %} {% block content %}
<div class="row">
<div class="col-lg-4"> 
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Upload Image
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-Secondary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>
</div>
<div id="final" class="col-lg-3" > </div>
<div  class="col-lg-5" id="data">
    <h4>Know more about skin cancer types :</h4>
    <br>
    <h2>Melanoma</h2>
    <p>Melanoma, the most serious type of skin cancer, develops in the cells (melanocytes) that produce melanin — the pigment that gives your skin its color. Melanoma can also form in your eyes and, rarely, inside your body, such as in your nose or throat.
The exact cause of all melanomas isn't clear, but exposure to ultraviolet (UV) 
    </p>
    <br>
    <h2>Melanocytic Nevus</h2>
    <p>The majority of moles appear during the first two decades of a person's life, with about one in every 100 babies being born with moles. Acquired moles are a form of benign neoplasm, while congenital moles, or congenital nevi, are considered a minor malformation or hamartoma and may be at a higher risk for melanoma.[4] A mole can be either subdermal (under the skin) or a pigmented growth on the skin, formed mostly of a type of cell known as a melanocyte. </p>
    <br><h2>Basal cell carcinoma</h2>
    <p>Basal cell carcinoma (BCC) is the most common form of skin cancer and the most frequently occurring form of all cancers. In the U.S. alone, more than 4 million cases are diagnosed each year. BCCs arise from abnormal, uncontrolled growth of basal cells.
        Because BCCs grow slowly, most are curable and cause minimal damage when caught and treated early. Understanding BCC causes, risk factors, and warning signs can help you detect them early when they are easiest to treat and cure.
        </p>
        <br><h2>Benign keratosis</h2>
    <p>Seborrheic keratosis: A common skin disorder that is characterized by benign, painless, often wart-like skin lesions that appear to be 'stuck on.' The raised spots are usually yellow or brown. Treatment, if warranted, involves surgical or cryo-surgical removal. Also known as seborrheic warts and verruca.
    </p>
    <br><h2>Dermatofibroma</h2>
    <p>Dermatofibroma (superficial benign fibrous histiocytoma) is a common cutaneous nodule of unknown etiology that occurs more often in women. Dermatofibroma frequently develops on the extremities (mostly the lower legs) and is usually asymptomatic, although pruritus and tenderness can be present. It is actually the most common painful skin tumor.  A number of well-described, histologic subtypes of dermatofibroma have been reported. Removal of the tumor is usually not typically required unless diagnostic uncertainty exists or particularly troubling symptoms are present.
    </p>
    <br> <h2>Vascular lesions</h2>
    <p>Vascular lesions are relatively common abnormalities of the skin and underlying tissues, more commonly known as birthmarks. There are three major categories of vascular lesions: Hemangiomas, Vascular Malformations, and Pyogenic Granulomas. While these birthmarks can look similar at times, they each vary in terms of origin and necessary treatment.
    </p>
    <br><h2>Squamous cell carcinoma</h2>
    <p>Squamous cell carcinoma of the skin is a common form of skin cancer that develops in the squamous cells that make up the middle and outer layers of the skin.
        Squamous cell carcinoma of the skin is usually not life-threatening, though it can be aggressive. Untreated, squamous cell carcinoma of the skin can grow large or spread to other parts of your body, causing serious complications.
        </p>
</div>
</div>
{% endblock %}